<!DOCTYPE html
<html>
<head>
    <title> KODO</title>
</head>
<body>
    <h1>Kodo - A to-do list by Kevin for Kevin</h1>
    <form method = "post" action = "{% url 'task_delete' %}">
        {% csrf_token %}
        <ul>
            {% for task in tasks %}
            <li>
		<input type = "checkbox" name = "selected_tasks" value = "{{ task.pk }}">
                <label ="task_{{ task.id }}">{{ task.title }}</label>
            </li>
            {% endfor %}
        </ul>
	<button type="submit">Delete Selected Tasks</button>
    </form>

    <a href="{% url 'task_create' %}">Create new Task</a>
</body>
</html>
